GEM5_DIR=../gem5
SIMPOINT_DIR=../Simpoint3.2
GNU_PREFIX=riscv64-unknown-linux-gnu
QEMU_BIN=../qemu/build/riscv64-softmmu/qemu-system-riscv64
SPIKE_BIN=../spike-build-dev/spike

GEM5_MODE=debug
ARCH=RISCV
SIMPOINT_INTERVAL=1000
